<layout-header></layout-header>
<div class="container">
    <div class="user starter-template">
        <div class="row legend">
            <div class="col-xs-12 col-sm-2">
                <img src="http://maps.google.com/mapfiles/ms/icons/green-dot.png" alt="Pin with green dot"> Popular places
            </div>
            <div class="col-xs-12 col-sm-2">
                <img src="http://maps.google.com/mapfiles/ms/icons/yellow-dot.png" alt="Pin with green dot"> Other User's places
            </div>
            <div class="col-xs-12 col-sm-2">
                <img src="http://maps.google.com/mapfiles/ms/icons/red-dot.png" alt="Pin with green dot"> Your places
            </div>

        </div>

        <div ui-view></div>
    </div>
</div>