<div class="user-home">
    <script id="custom-cached-info-window-template.html" type="text/ng-template">
            <div ng-non-bindable="">
              <span>{{vm.hit.title}}</span><br/>
              <div style="margin-top:5px;">
                <button type="button" ng-disabled="vm.hit.canVote || vm.isVoteInProgress" ng-click="vm.vote(vm.hit.id)" class="btn btn-success btn-xs">
                    <i class="glyphicon glyphicon-thumbs-up"></i> {{vm.hit.votes}}
                </button>
            </div>
            </div>
        </script>

    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div map-lazy-load="{{vm.googleMapsUrl}}" map-lazy-load-params="{{vm.googleMapsUrlWithKey}}">
                <ng-map zoom="{{vm.zoomLevel}}" center='current-position' geo-fallback-center="[40.74, -74.18]" geo-callback="vm.geoCallback()"
                    on-click="vm.addMarker(event)">

                    <info-window id="cached" template="{{vm.template.cached}}"></info-window>

                    <marker ng-repeat="hit in vm.currentHits" id="{{hit.id}}" position="{{hit.lat}},{{hit.lng}}" on-click="vm.showHitDetail(event, hit.id)" icon="{{hit.icon}}"></marker>
                </ng-map>
            </div>
        </div>
    </div>
</div>