<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Travel Wish List</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <form class="navbar-form navbar-right" ng-if="!vm.firebaseUser" ng-submit="vm.signin()">
                <div class="form-group">
                    <input type="text" placeholder="Email" class="form-control" ng-model="vm.email">
                </div>
                <div class="form-group">
                    <input type="password" placeholder="Password" class="form-control" ng-model="vm.password">
                </div>
                <button type="submit" class="btn btn-success">Go</button>
            </form>
            <form class="navbar-form navbar-right" ng-if="vm.firebaseUser" ng-submit="vm.signout()">
                <button type="submit" class="btn btn-default">Sign Out</button>
            </form>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>