<layout-header></layout-header>
<div class="container">
    <div class="home starter-template">
        <div class="jumbotron">
            <h1>Welcome!</h1>
            <p>This app allows you to create a travel wish list by pin-pointing locations throughout the world indicating where you would like to travel.</p>
            <p>To get started, please enter credentials above to login or create an account.</p>
        </div>
        <div ui-view></div>
    </div>
</div>